/* Home */

.center {
    margin: auto; /* Выравниваем по центру */
}

.region-logo img {
    width: 100%;
}

area {
    outline: none;
}

.iconButtons {
    text-align: center;
    /*background: #ccc;*/
}

.iconButton {
    /*width: 50%;*/
    /*min-height: 150px;*/
    max-width: 55%;
    cursor: pointer;
}