.obs-controll-panel {
    display: flex;
    align-items: center;
    width: 97%;
    max-width: 1503px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: 700;
    // text-transform: uppercase;
    color: #707070;

    border-radius: 3px;
    border: 1px solid #C9C9C9;

    #filter {
        display: flex;
        flex-direction: row;

        #meterTypeSelect {
            min-width: 127px;
        }

        .button-group {
            padding: 15px 15px 10px;

            & > button {
                margin-bottom: 5px;
                margin-right: 5px;
                height: 45px;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

.obs-sorting {
    &__item {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 15px 10px;
        margin-bottom: 0;
        & > .form-floating {
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }

    &__item--green {
        color: green;
    }  
    
    &__item--grey {
        color: grey;
    }

    &__item--red {
        color: red;
    }
}

.obs-start-monitoring-btn {
    width: 267px;
    height: 35px;
    margin-left: auto;
    padding: 2px 20px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    background: #2ECC71;
    border: 1px solid #2ECC71;
    border-radius: 3px;

    transition: all ease-out 0.18s;

    &:hover {
        transform: scale(1.03);
    }
}

.obs-building__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1503px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.obs-building__item {
    position: relative;
    width: 22%;
    margin-bottom: 20px;
    border: 1px solid #707070;
    border-radius: 3px;
    z-index: 10;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 18px;
        background-color: #34495E;
    }

    &-title {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        color: white;
    }

    &-body {
        min-height: 133px;
    }

    
}

.obs-devices {
    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        min-height: 133px;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 13px 34px;
        list-style: none;
    }

    &__item {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
        border: 1px solid #BDC3C7;
        border-radius: 50%;
        text-align: center;
        background-color: #ECF0F1;
        cursor: pointer;
        font-size: 30px;
        line-height: 50px;
        vertical-align: middle;

        @media (min-width: $desktop-large-width) {
            width: 70px;
            height: 70px;
            font-size: 40px;
            line-height: 70px;
        }

        &:hover {
            background-color: #c3c3c3;
        }

        &-icon {
            & > i.fa {
                color: #84DBFF;
            }
        }
        
        &--active {
            & >.obs-devices__item-icon {
                & > .fa {
                   color: rgb(25, 82, 25);
                }
            }
        }
        &--worked {
            & >.obs-devices__item-icon {
                &>.fa {
                    color: rgb(8, 224, 8)
                }
            }
        }
        &--is_not_active {
            & >.obs-devices__item-icon {
                &>.fa {
                    color: grey;
                }
            }
        }
        &--is_error_connect {
            &>.obs-devices__item-icon {
                &>.fa {
                    color: red;
                }
            }
        }

        // &--active {
        //     background-color: #DFF0D8;
        //     border-color: #3C763D;
        // }

        // &--broken {
        //     background-color: #F2DEDE;
        //     border-color: #A94442;
        // }

        &:not(:nth-child(3n)):not(:last-child) {
            margin-right: 18px;
        }
    }
}

.obs-legend {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;

    &-title {
        text-align: center;
        margin-bottom: 5px;
        margin-top: -5px;
    }

    &-border {
        border: 2px solid #333333;
        width: 250px;
        padding: 10px;
        border-radius: 5px;
    }

    &-item {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        &-indicator {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            margin-right: 5px;

            &--active {
                background-color: rgb(25, 82, 25);
            }
            &--worked {
                background-color: rgb(8, 224, 8);
            }
            &--is_not_active {
                background-color: grey;
            }
            &--is_error_connect {
                background-color: red;
            }
        }
    }

    .obs-building__item-header {
        width: 22%;
        border: 1px solid #707070;;
        background-color: inherit;
        border-radius: 3px;
    }

    .obs-building__item-title {
        text-align: center;
        display: flex;
        font-size: 14px;
        align-items: center;
        color: #333333;
    }
}